/*comments no one will see*/

body {
background-color: #88938B;
text-align: center;
}

p {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0 0 0 0;
}

footer {
	margin-top: 100px;
	background-image:url("https://images.unsplash.com/photo-1518965539400-77d851d65c43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=666&q=80");
	text-align: center;
	height: 100px;
	padding-top: 25px;
	color: white;

}

#banner {
	background-image:url("https://images.unsplash.com/photo-1518965539400-77d851d65c43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=666&q=80");
	height: 400px;
	margin:0;
}

#banner p {
	color: white;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
	font-weight: 300;
}

#link {
	text-align: center;
}

#link a:hover {
	color: #4A7856;
}

h1 {
	color: #fff;
	font-size: 60;
	font-family: 'Monoton', cursive;
	height: 100px;
	text-align: center;
	margin-bottom: 140px;
	padding-top: 40px;
	word-spacing: 20px;
}

.container {
	margin: 0;
}

h2 {
	color: #29335C;
}

#link a {
	text-decoration: none;
	color: white;
	font-family: 'Monoton', cursive;
	font-size: 30px;
}

.social {
	color: white;
	text-align: center;
	font-size: 30px;
}

.social:hover {
	font-size: 35px;
		color: #4A7856;
}

.section {
	padding: 0;
}